<div class="wrapper">
  <div class="inputField" >
    <app-add-card (newItemEvent)="addItem($event)"></app-add-card>
    <button (click)="deleteItem()"> Delete</button>
    <ul>
      <li *ngFor="let item of items">{{item}}</li>
    </ul>
  </div>
  <div class="buttonField">
    <app-add-card-button [card]="currentItem" (addCard)="addWithButton($event)"></app-add-card-button>
    <button (click)="deleteCard()"> Delete</button>
    <ul>
      <li *ngFor="let card of cards">{{card}}</li>
    </ul>
  </div>
</div>

<button (click)='resetPage()'>Remove</button>




